* {
    margin: 0;
    padding: 0;
}

body {
    width: 1080px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282c34;
}

h1 {
	text-align: center;
	font-weight: normal;
	font-size: 1.5rem;
	color: #ddd;
	padding: 20px;
}

.container {
    width: 100%;
    text-align: center;
    display: flex;
}

.chart {
    width: 232px;
    height: 270px;
    background-color: #2f343f;
    padding: 20px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.control {
    width: 232px;
    height: 180px;
    background-color: #2f343f;
    padding: 20px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.center {
	background-color: rgba(47,52,63, 0.7);
	padding: 10px;
}

.cost {
	color: #ccc;
}

#sketch_holder {
    color: #ccc;
}


.article {
	flex: 1;
	float: right;
    align-content: center;
}

.slidecontainer1 {
    width: 100%;
    color: #ccc;
    margin-top: 16px;
}

.slidecontainer2 {
    width: 100%;
    color: #ccc;
    margin-top: 16px;
}

.slidecontainer3 {
    width: 100%;
    color: #ccc;
    margin-top: 16px;
}


.slider {
  -webkit-appearance: none;
  height: 4px;
  width: 90%;
  border-radius: 2px;   
  background: #ccc;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%; 
  background: rgb(54, 162, 235);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(54, 162, 235);
  cursor: pointer;
}
